VITE_SUPABASE_URL=https://aaebdzyvbjvxmsjsxjhm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhZWJkenl2Ymp2eG1zanN4amhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Nzg5NDIsImV4cCI6MjA5MDU1NDk0Mn0.ASm0_D6HlRFJq5mPBWEGXUMXAP154ICQPgjbuSFIHxM